<% var title = 'Liste presence' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h1 class="panel-title"><strong>Feuille de présence</strong></h1>
                </div>
                <div class="panel-body">
                    <div class="alert alert-primary" role="alert"> <div class="alert alert-warning" role="alert"><p>Libellé du cours <b><%= libelle %></b> Date :  <b><%= date %></b></p></div>
                    <% for(var i = 0; i < presence.length; i++) { %>
                     <div class="alert alert-success" role="alert"> <p> Nom de l'étudiant <b><%= presence[i].nomE %> </b> </p> </div> <div class="alert alert-danger" role="alert"><p> Prénom de l'étudiant :  <b><%= presence[i].prenomE %>  </b></p></div><div class="alert alert-danger" role="alert"><p> Présence :  <b><%= presence[i].presence %>  </b></p></div></div>
                    <% } %>
                    <form method="post" action="/listePresenceC">
                        <div class="form-group">
                            <div class="dropdown">
                                <select  class="form-control" id="etudiant" name="etudiant" >
                                    <% for(var i = 0; i < eleves.length; i++) { %>
                                    <option value="<%= eleves[i].id%>"> <%= eleves[i].prenom %> <%= eleves[i].nom %></option>
                                    <% } %>
                                </select> <br />
                            </div>
                            <input type="HIDDEN" id="cours" name="cours" value=<%= idc %>>
                            <input type="HIDDEN" id="date" name="date" value=<%= date %>>
                            <input type="submit" value="Ajouter étudiant" class="btn btn-warning btn-block">
                        </div>
                    </form>
                    <a href="/presenceC"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot%>